# Directorios de dependencias
/vendor/

# Archivos de caché y logs
/cache/
*.log

# Archivos de compilación de PHP
*.php~
*.phps

# Archivos de IDEs y editores
/.vscode/

# Archivos de composer
composer.phar